<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--
        類型別名可以為 Java 類型設置一個縮寫的名字，僅用於 XML 的設定，
    -->
    <!--
    指定 package 取別名，MyBatis 會在 package 下面搜尋需要的 Java Bean
    -->
    <typeAliases>
        <package name="com.Kent.pojo"/>
    </typeAliases>

    <!--
    environments: 設定資料庫連接環境的訊息，可以設定多個 environment，透過 default 屬性切換不同的 environment
    -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!--資料庫的連接訊息-->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///mybatis?useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--加載 sql 映射文件-->
<!--        <mapper resource="com/Kent/mapper/UserMapper.xml"/>-->

<!--        使用 Mapper 代理之後，編譯的 sql 映射文件會與 mapper interface 在相同的 package 下面，所以也可以寫 package 名稱去做加載-->
<!--        之後其他的 mapper，也不用一個一個做加載了-->
        <package name="com.Kent.mapper"/>
    </mappers>
</configuration>
