<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace: 名稱空間
-->

<mapper namespace="com.Kent.mapper.UserMapper">

    <!--因為已經有了別名 com.Kent.pojo.User 可以改為 user(不區分大小寫)-->
    <!--statement-->
    <select id="selectAll" resultType="user">
        select * from tb_user;
    </select>

        <!--改為使用在 UserMapper.java 中使用註解的方式寫 sql-->
<!--    <select id="selectById" resultType="user">-->
<!--        select *-->
<!--        from tb_user where id = #{id};-->
<!--    </select>-->

    <select id="select" resultType="user">
        select *
        from tb_user
        where
            username = #{username}
        and password = #{param2}
    </select>
</mapper>
